<h1>Routing concept</h1>
<p>Routing in the sense navigation i.e navigating from one page to another will be done through routing
    Routing can be configured in html file for links, button and image...etc
    Routing can be done by configuring routerLink directive
    Types of routing scenarios,</p><br>
    <ul>
        <li><i>Basic routing</i></li>
        <li><i>Parameterized routing</i></li>
        <li><i>Routing through typescript</i></li>
        <li><i><b>child routing</b></i></li>
    </ul>

